@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">A DB Connection error occurred while processing your request.</h2>
<h3 class="text-danger">Please check your Internet Connection or contact the System Administrator to check if Database is down</h3>

